@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Mulish;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #25D366;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3257cf;
}

img.dot {
  width: 15px !important;
}

@media (max-width: 900px) {
  .hidden {
    display: none;
  }
}