.chat {
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: grid;
    place-items: center;
    padding: 10px;
}

.chat-container {
    width: 95%;
    height: 85vh;
    max-width: 1200px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 15px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.loading {
    font-size: 24px;
    font-weight: bold;
    color: #25D366;
    text-align: center;
}


@media (max-width: 900px) {
    .chat-container {
        display: flex;
    }

    .loading {
        font-size: 30px;
    }

}
